h1{
    text-align:center;
}

.marker{
    height:25px;
    width:200px;
    margin:10px auto;
}

.cap{
    height: 25px;
    width: 60px;
}

.sleeve{
    height:25px;
    width:110px;
    background-color: rgba(255,255,255,0.5);
    border-left:10px double rgba(0,0,0,0.75);
}

.cap,.sleeve{
    display: inline-block;
}

.red{
    background:linear-gradient(180deg,rgb(122,74,14),rgb(245,62,113),rgb(122,74,14));
    box-shadow:0 0 20px 0 rgba(83,14,14,0.8);
}

.green{
    background:linear-gradient(#55680D,#71F53E,#116C31);
    box-shadow: 0 0 20px 0 #3B7E20CC;
}

.blue{
    background:linear-gradient(hsl(186,76%,16%),hsl(223,90%,60%),hsl(240,56%,42%));
    box-shadow: 0 0 20px 0 hsla(233, 50%, 31%, 0.8)
}